html{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}


.header-container{
    background-image: url(../img/header.jpg);
    background-size: cover;
    width: 100%;
    height: 700px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inicio-container{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
    z-index: -1;
}

.menu-container{
    background-image: url(../img/menu-section.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    grid-gap: 0.3rem;
    grid-template-areas:
    "titulo"
    "izquierda"
    "derecha";
}

.ocultar{
    display: none;
}

