.main-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
  margin: 2rem;
}

.main-logo-imagen {
  height: 3rem;
  width: 100%;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100% - 50%);
  transition: all 0.2s linear;
  color: wheat;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30%);
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: 1.5rem;
}

.link-item {
  margin-top: 2rem;
  color: wheat;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}


.link-item:hover::after {
  width: 100%;
}


@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .main-logo {
    display: inline-block;
  }

  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}
